{{>layouts/header}}


<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PASSWORD</th>
    </tr>
    </thead>
    <tbody>
    {{#members}}
        <tr>
            <th>{{id}}</th>
            <th>{{email}}</th>
            <th>{{password}}</th>
        </tr>
    {{/members}}
    </tbody>
</table>

<a href="/members">Go to Member List</a>

{{>layouts/footer}}