{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENT</th>
    </tr>
    </thead>
    <tbody>

    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/articles/{{id}}">{{title}}</a></th>
            <th>{{content}}</th>
        </tr>

    {{/articleList}}

    </tbody>

</table>
<a href="/articles/new">New Article</a>


{{>layouts/footer}}
